# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.venv/
venv/
*.db
*.log

# Node
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.idea/
.vscode/

# Trae IDE
.trae/

# OS
.DS_Store
Thumbs.db

# Env
.env

# Outputs
output/
package-lock.json
